<?xml version="1.0"?>
<robot name="mentor_pi_hardwares_ackermann" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="mentor_pi"/>
  <xacro:arg name="feedback_timeout_ms" default="500"/>
  <xacro:arg name="imu_timeout_ms" default="500"/>
  <xacro:arg name="steering_pwm_channel" default="3"/>
  <xacro:arg name="steering_pwm_min_us" default="500"/>
  <xacro:arg name="steering_pwm_center_us" default="1500"/>
  <xacro:arg name="steering_pwm_max_us" default="2500"/>
  <xacro:arg name="steering_angle_min_rad" default="-0.6"/>
  <xacro:arg name="steering_angle_max_rad" default="0.6"/>
  <xacro:arg name="steering_inverted" default="true"/>
  <xacro:arg name="steering_duration_ms" default="20"/>
  <xacro:arg name="rear_wheel_radius_m" default="0.0325"/>
  <xacro:arg name="wheelbase_m" default="0.135"/>
  <xacro:arg name="linear_adrc_input_gain_per_second" default="5.0"/>
  <xacro:arg name="linear_adrc_controller_bandwidth_rad_s" default="1.0"/>
  <xacro:arg name="linear_adrc_observer_bandwidth_rad_s" default="3.0"/>
  <xacro:arg name="yaw_adrc_input_gain_per_mps" default="30.0"/>
  <xacro:arg name="yaw_adrc_controller_bandwidth_rad_s" default="1.0"/>
  <xacro:arg name="yaw_adrc_observer_bandwidth_rad_s" default="3.0"/>
  <xacro:arg name="yaw_adrc_minimum_speed_mps" default="0.1"/>

  <xacro:include filename="$(find mentor_pi_hardwares)/config/ackermann/description.urdf.xacro"/>
  <xacro:include filename="$(find mentor_pi_hardwares)/config/ackermann/ros2_control.xacro"/>

  <xacro:ackermann_car/>
  <xacro:ackermann_control
      robot_name="$(arg robot_name)"
      feedback_timeout_ms="$(arg feedback_timeout_ms)"
      imu_timeout_ms="$(arg imu_timeout_ms)"
      steering_pwm_channel="$(arg steering_pwm_channel)"
      steering_pwm_min_us="$(arg steering_pwm_min_us)"
      steering_pwm_center_us="$(arg steering_pwm_center_us)"
      steering_pwm_max_us="$(arg steering_pwm_max_us)"
      steering_angle_min_rad="$(arg steering_angle_min_rad)"
      steering_angle_max_rad="$(arg steering_angle_max_rad)"
      steering_inverted="$(arg steering_inverted)"
      steering_duration_ms="$(arg steering_duration_ms)"
      rear_wheel_radius_m="$(arg rear_wheel_radius_m)"
      wheelbase_m="$(arg wheelbase_m)"
      linear_adrc_input_gain_per_second="$(arg linear_adrc_input_gain_per_second)"
      linear_adrc_controller_bandwidth_rad_s="$(arg linear_adrc_controller_bandwidth_rad_s)"
      linear_adrc_observer_bandwidth_rad_s="$(arg linear_adrc_observer_bandwidth_rad_s)"
      yaw_adrc_input_gain_per_mps="$(arg yaw_adrc_input_gain_per_mps)"
      yaw_adrc_controller_bandwidth_rad_s="$(arg yaw_adrc_controller_bandwidth_rad_s)"
      yaw_adrc_observer_bandwidth_rad_s="$(arg yaw_adrc_observer_bandwidth_rad_s)"
      yaw_adrc_minimum_speed_mps="$(arg yaw_adrc_minimum_speed_mps)"/>

</robot>
