[Unit]
Description=Mentor Pi containerized controller runtime
Requires=mentor-pi-runtime.service
After=mentor-pi-runtime.service

[Install]
WantedBy=multi-user.target
