<?xml version="1.0"?>
<robot name="mentor_pi_mecanum" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="mentor_pi_gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="mentor_pi_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <xacro:macro name="mecanum_car" params="frame_prefix:=''">
    <link name="${frame_prefix}base_footprint"/>

    <link name="${frame_prefix}base_link">
      <inertial>
        <origin xyz="0 0 0.025" rpy="0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0.050" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/base_link.stl"/>
        </geometry>
        <material name="mentor_pi_gray"/>
      </visual>
      <visual>
        <origin xyz="0.064015 -0.00013463 0.101155" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/cam_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <visual>
        <origin xyz="-0.0096019 -0.00008533 0.142501" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/lidar_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.22 0.16 0.06"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <parent link="${frame_prefix}base_footprint"/>
      <child link="${frame_prefix}base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${frame_prefix}wheel_left_front_link">
      <visual>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/wheel_left_front_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry><cylinder radius="0.04" length="0.02"/></geometry>
      </collision>
    </link>
    <joint name="wheel_left_front_joint" type="continuous">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}wheel_left_front_link"/>
      <origin xyz="0.065812864 0.074187136 0.0325" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${frame_prefix}wheel_right_front_link">
      <visual>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/wheel_right_front_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry><cylinder radius="0.04" length="0.02"/></geometry>
      </collision>
    </link>
    <joint name="wheel_right_front_joint" type="continuous">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}wheel_right_front_link"/>
      <origin xyz="0.065812864 -0.074187136 0.0325" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${frame_prefix}wheel_left_rear_link">
      <visual>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/wheel_left_rear_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry><cylinder radius="0.04" length="0.02"/></geometry>
      </collision>
    </link>
    <joint name="wheel_left_rear_joint" type="continuous">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}wheel_left_rear_link"/>
      <origin xyz="-0.065812864 0.074187136 0.0325" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${frame_prefix}wheel_right_rear_link">
      <visual>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry>
          <mesh filename="package://mentor_pi_hardwares/config/mecanum/meshes/wheel_right_rear_link.stl"/>
        </geometry>
        <material name="mentor_pi_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
        <geometry><cylinder radius="0.04" length="0.02"/></geometry>
      </collision>
    </link>
    <joint name="wheel_right_rear_joint" type="continuous">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}wheel_right_rear_link"/>
      <origin xyz="-0.065812864 -0.074187136 0.0325" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${frame_prefix}imu_link"/>
    <joint name="imu_joint" type="fixed">
      <parent link="${frame_prefix}base_link"/>
      <child link="${frame_prefix}imu_link"/>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>
